---
layout: blog
---

<h2 class="header-hidden">Indice de posts</h2>

<div class="row">
  {% for post in paginator.posts %}
  <div class="col-sm-12 col-md-12">
    {% include post_estructure.html %}
  </div><!--/col-sm-12 -->
  {% endfor %}
</div><!--/row -->

<!-- Pagination links -->
{% if site.paginate %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
      <i class=" fa fa-arrow-circle-left"></i>
      Previa
    </a>
  {% endif %}

  {% for i in (1..paginator.total_pages) %}
    {% if i == 1 %}
      {% if i == paginator.page %}
        <span class="page-numbers page-current">{{ i }}</span>
      {% else %}
        <a class="page-numbers" href="{{ site.baseurl }}/">{{ i }}</a>
      {% endif %}
    {% else %}
      {% if i == paginator.page %}
	<span class="page-numbers page-current">{{ i }}</span>
      {% else %}
	<a class="page-numbers" href="{{ site.baseurl | append: site.paginate_path | replace:':num/', i }}/">{{ i }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">
      Siguiente
      <i class=" fa fa-arrow-circle-right"></i>
    </a>
  {% endif %}
</div>
{% endif %}
