<div class="box">
  <div class="box-content">
    <h2 class="box-title">Contactos</h2>
    <div class="box-text">
      <div class="box-contact">
	<p class="box-rss">
	  <a href="{{ site.baseurl }}/feed.xml" class="box-rss" target="_blank">
	    <i class="fa fa-rss-square"></i>
	    Seguinos via RSS
	  </a>
	</p>
	<ul>
	  <li>¿Queres escribir un post?</li>
	  <li>¿Subir un dibujo?</li>
	  <li>¿Sugerencias?</li>
	</ul>
	  <p><a href="https://twitter.com/ucaomo" target="_blank">Escribinos!</a></p>
      </div>
    </div><!--/box-text -->
  </div><!--/box-content -->
</div><!--/box -->
