<div class="box">
  <div class="box-content">
    <h2 class="box-title">Nosotros</h2>
    <div class="box-text">
      <div class="box-thumbnail">
	<img alt="Logo de Pewen" src="{{ site.baseurl }}/img/pewen.png" class="full-img">
      </div>
      <div class="box-author">
	<p>Pewen es un grupo de jovenes multidisiplinar basados en el principio de <a href="http://sciencecodemanifesto.org/">Ciencia Reproducible</a>.</p> 
      </div>
    </div><!--/box-text -->
  </div><!--/box-content -->
</div><!--/box -->
